lib/flows/AppleScriptJS.json
[{"id":"b21e507a.a40968","type":"subflow","name":"AppleScriptJS","info":"","in":[{"x":95.00000381469727,"y":44.50000476837158,"wires":[{"id":"b2f1ab72.01ce88"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"da5aead.12f1598","port":0}]},{"x":540,"y":100,"wires":[{"id":"da5aead.12f1598","port":1},{"id":"da5aead.12f1598","port":2}]}]},{"id":"da5aead.12f1598","type":"exec","z":"b21e507a.a40968","command":"osascript -l JavaScript -e ","addpay":true,"append":"","useSpawn":"","timer":"","name":"osascriptJS","x":377.00000381469727,"y":44.00000476837158,"wires":[[],[],[]]},{"id":"b2f1ab72.01ce88","type":"function","z":"b21e507a.a40968","name":"","func":"msg.payload = `\"${msg.payload}\"`\nreturn msg;","outputs":1,"noerr":0,"x":225.00000381469727,"y":44.50000476837158,"wires":[["da5aead.12f1598"]]},{"id":"83cc382f.803de","type":"subflow:b21e507a.a40968","z":"fd07f082.8642d8","name":"","x":500,"y":60,"wires":[[],[]]}]
